header{
    background: #ff9d0d;
    width:100%;
    width:100%;
   height:65px;
}
footer{
    background: #ff9d0d;
    width:100%;
    height:65px;
}

header + nav{
    background: #4b4a4d;
    width:100%;
    height:35px;
}
header img{
    width: 325px;
}
header + nav a{
    font-size: 12px;
}
header label{
    color:white;
    font-size:20px;
}

body{
    overflow-x: hidden;
}
.body{
    min-height: 85vh;
}
.card{
    width: 100%;
    max-width: 100%;
    padding: 0px
}
.card-header{
    font-weight: 600;
}
.card-body li{
    list-style: none;
}
.card-body li a{
    color:#1e2327;
    font-weight: 500;
    }
.card-body li   a:hover{
    color:#0e0f10;
    }
table tr td{
    padding: 0!important;
    padding:5px 5px 5px 5px!important;
}
table tr td button,table tr td button i{
    width:25px;
    font-size: 10px!important;
    padding: 0!important;
    text-align: center;
}
.section{
    width:99%;
    height: 25px;
    background: #ccc9d1;
    padding-left: 5px;
}
.breadcrumb{
    padding-left: 5px;
}
select + span{
    text-align: start;
}
select,.select2,.select2 .selection, .select2-selection{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    height: calc(1.5em + .75rem + 2px)!important;
}
.select-select2-custom{
    padding-left: 30%;
    height: 300px;
    justify-content: start;
    align-items: start;
}
.select-select2-custom .select2-selection{
    height: 300px!important;
    overflow-y: auto;
    overflow-x: hidden;
}
.select2 textarea{
    height: 35px!important;
}
#spinDiv{
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 238, 238,0.6);
  z-index: 100000000;
}
.loader {
    width: 150px;
    height: 150px;
  }
  .mouse-event{
    cursor: pointer;
  }
  .mouse-event2{
    cursor: pointer;
    
  }
  .mouse-event2:hover{
    border-bottom: 1px solid ;
  }
  .info{
    font-size:14px;
  }
  .info label{
    margin: 0px;
  }
  svg {
    width: 90%;
    fill: none;
  }
  .filter{
    font-size: 24px;;
    cursor: pointer;
  }
  .filter:hover{
    border-bottom: 1px solid ;
  }
  
  .load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
  }
  .load.one {
    stroke: #554d73;
    animation: load 1.5s infinite;
  }
  .load.two {
    stroke: #a496a4;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  .load.three {
    stroke: #a5a7bb;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
  
  .point {
    animation: bounce 1s infinite ease-in-out;
  }
  .point.one {
    fill: #a5a7bb;
    animation-delay: 0s;
  }
  .point.two {
    fill: #a496a4;
    animation-delay: 0.1s;
  }
  .point.three {
    fill: #554d73;
    animation-delay: 0.2s;
  }
  .modal{
    background: rgba(0,0,0,0.6);
  }
  .mouse-event{
    cursor:pointer;
   
    font-weight: 500;
  }
  .mouse-event label{
    border-bottom:1px solid #000;
    cursor:pointer;
  }
  .line-break-orange{
    border-left: 1px solid #ff9d0d;
    height: 150px;
  }
  .line-p{
    padding-left: 20px;
    padding-right: 20px;
  }
  .line-break-orange2{
    border-bottom: 1px solid #ff9d0d;
    width:100%;
    margin-top:25px;
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes load {
    0% {
      stroke-dashoffset: 570;
    }
    50% {
      stroke-dashoffset: 530;
    }
    100% {
      stroke-dashoffset: 570;
      transform: rotate(360deg);
    }
  }