@media screen and (max-width: 700px) {
    header{
        height: 45px;
        width: 100%;
        max-width: 100%;
    }
    header .col-sm-2 img{
        width: 150px!important;
        margin-left: -20px;
    }
    header .col-sm-2{
        max-width: 16.6666666666%;
    }
    header .col-sm-8{
        max-width: 66.6666666666%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    header .col-sm-8 img{
        width: 80px!important;
    }
    header .col-sm-8 label{
        font-size: 12px!important;
        margin-top:3px;
    }
    .passport input{
       width: 65% !important;
       margin-top:5px;
       
    }
    .passport label{
        margin-right: 20px!important;
        margin-top:5px;
        width: 25%!important;
    }
    .row2{
        margin-top:5px;
    }
  }